{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Contact</title>
{% endblock %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Contact 
        </h3>
    </div> 
    <div class="col-md-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Total</h4>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-inline-block pt-3">
                        <div class="d-md-flex">
                            <h2 class="mb-0">{{ client_count }} </h2>
                            
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <i class="fas fa-solid fa-address-book icon-lg"></i>  
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <form action="" method="GET">
                        <div class="d-md-flex justify-content-between align-items-center">
                            
                            <tr class="row">
                                <td > 
                                    <input type="text" class="form-control"  placeholder="Search" aria-label="Search" name="name"></td>
                                <td >
                                        <input type="date" class="form-control"  placeholder="collab_start">
                                </td>
                                <td >
                                    <select class="form-control " name="project_type" >
                                        <option value=""> select project type</option>
                                        <option value="EC">e-commerce</option>
                                        <option value="WS">web site</option>
                                        <option value="WA">web app</option>												
                                    </select>
                                </td>
                                <td >
                                    <input type="submit" value="submit" class="btn btn-primary mr-2">
                                </td>
                            </tr>
                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="{% url 'contact:addclient' %}" > <button type="submit" class="btn btn-primary mr-2" style="float:right;">New</button><a> 
          <h4 class="card-title">Client list</h4>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                 
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                                        <thead style="background-color: #2b2155; color:#fff;">
                                            <tr role="row">
                                                <th style="width:400px;">Name </th>
                                                <th style="width:400px;">Company</th>
                                                <th style="width:400px;">Email</th>
                                                <th style="width:400px;">Phone number</th>
                                                <th style="width:400px;">Decision</th>
                                                <th style="width:400px;">Project</th>
                                                <th style="width:400px;">source</th>
                                                <th style="width:400px;">Date</th>                                           
                                                <th style="width:400px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% for employee in employees %} 
                                        <tr role="row" class="odd">
                                                <td ><span class="badge badge-pill badge-light">{{employee.name}} </span></td>
                                                <td> <a href="{% url 'contact:companydetail' employee.company.pk %}" style=" text-decoration:none; color:black;">{{employee.company}}</a></td>
                                                <td>{{employee.email}}</td>
                                                <td>{{employee.mobile}}</td>
                                                <td><span class="fe text-warning"> {{employee.get_decision_display}} </span></td>
                                                <td> {{employee.get_project_type_display}} </td>
                                                <td>{{employee.source}}</td>
                                                <td><span  class="d-block text-info">{{employee.collab_start}}</span></td>
                                                <td>
                                                <a href="{% url 'contact:clientdetail' employee.pk %}">
                                                <button class="btn btn-outline-primary">View</button></a>
                                                <a href="{% url 'contact:editclient' employee.pk %}" >
                                                <button class="btn btn-outline-primary">Edit</button></a>
                                                <a href="{% url 'contact:clientdelete' employee.pk %}">
                                                    <button class="btn btn-outline-primary">Delete</button></a>
                                                </td>
                                            </tr>    
                                        {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                                        {% comment %} <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div>
                                            </div>
                                            <div class="col-sm-12 col-md-7">
                                                <div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled" id="order-listing_previous">
                                                            <a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                                        </li>
                                                        <li class="paginate_button page-item active"><a href="#" aria-controls="order-listing" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                        <li class="paginate_button page-item next disabled" id="order-listing_next"><a href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                    </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>


    <!-- main-panel ends -->
</div>

{% endblock content %}