{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>contact</title>
{% endblock %}
 
      <div class="content-wrapper">
          <div class="page-header">
              <h3 class="page-title">
                contact
              </h3>
          </div>
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
       
                  <h4 class="card-title">Add Company</h4>
                <form action="{% url 'contact:editcompany' company.pk %}" method="post"  class="form-sample" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="card-description">
                    
                    </p>
                                  {% comment %} row {% endcomment %}
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="id_name">Name</label>
                                            <div class="col-sm-9">
                                              <input  type="text" name="name"  id="id_name"  required class="form-control" value="{{company.name}}" >
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="id_industry">Industry</label>
                                            <div class="col-sm-9">
                                              <input type="text" name="industry"  id="id_industry"  maxlength="200" class="form-control" value="{{company.industry}}" >
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  {% comment %} end of row {% endcomment %}
                                  {% comment %} row {% endcomment %}
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label" for="id_annual_revenue">Annual revenue</label>
                                          <div class="col-sm-9">
                                          <input type="number" name="annual_revenue"   id="id_annual_revenue"   maxlength="200" class="form-control" value="{{company.annual_revenue}}">
                                          </div>
                                        </div>
                                      </div>
                                    
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                            <label  class="col-sm-3 col-form-label" for="id_email">Email</label>              
                                            <div class="col-sm-9">
                                              <input type="email" name="email"  id="id_email" class="form-control " value="{{company.email}}">

                                              
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                  {% comment %} end of row {% endcomment %}
                                  {% comment %} row {% endcomment %}
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group row">				
                                          <label class="col-sm-3 col-form-label"  for="id_mobile">Mobile </label>
                                          <div class="col-sm-9">
                                            <input type="text" name="mobile"  id="id_mobile" value="{{company.mobile}}" pattern="^(?:0|\(?\+213\)?\s?|00213\s?)[1-79](?:[\.\-\s]?\d\d){4}$" class="form-control">
                                            
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label" for="id_website">Website</label>
                                          <div class="col-sm-9">
                                          <input type="text" name="website"   id="id_website" value="{{company.website}}"  maxlength="200" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {% comment %} end of row {% endcomment %}
                                  {% comment %} row {% endcomment %}
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group row"> 
                                            <label class="col-sm-3 col-form-label"  for="id_adress">Adress </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="adress"  id="id_adress" value="{{company.adress}}" class="form-control">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group row"> 
                                            <label class="col-sm-3 col-form-label"  for="id_responsible_person">Responsible person </label>
                                            <div class="col-sm-9">
                                              <input type="text" name="responsible_person"  value="{{company.responsible_person}}" id="id_responsible_person" class="form-control">
                                          </div>
                                        </div>  
                                    </div>
                                  </div>
                                  {% comment %} end of row {% endcomment %}
                            {% comment %} row {% endcomment %}
                              <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row"> 
                                      <label class="col-sm-3 col-form-label"  for="id_rc_code"> RC code </label>
                                      <div class="col-sm-9">                                     	
                                        <input type="text" name="rc_code"  id="id_rc_code" value="{{company.rc_code}}" class="form-control">
                                     
                                      </div>
                                    </div>
                                  </div>   
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="id_art_code">Art code  </label>
                                        <div class="col-sm-9">
                                          <input type="text" name="art_code"  id="id_art_code" value="{{company.art_code}}" class="form-control">       
                                        </div>
                                    </div>
                                  </div>                         
                              </div>
                            {% comment %} end of row {% endcomment %}
                                                
                            {% comment %} row {% endcomment %}
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row"> 
                                  <label class="col-sm-3 col-form-label"  for="id_rc_code"> RC code </label>
                                  <div class="col-sm-9">                                     	
                                    <input type="text" name="rc_code"  id="id_rc_code" value="{{company.rc_code}}" class="form-control">
                                
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="id_nif_code">Nif code  </label>
                                    <div class="col-sm-9">
                                      <input type="text" name="nif_code"  id="id_nif_code" value="{{company.nif_code}}" class="form-control">       
                                    </div>
                                </div>
                              </div>                         
                          </div>
                        {% comment %} end of row {% endcomment %}

                          {% comment %} row {% endcomment %}
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row"> 
                                <label class="col-sm-3 col-form-label"  for="id_nis_code"> Nis code </label>
                                <div class="col-sm-9">                                     	
                                  <input type="text" name="nis_code"  id="id_nis_code" value="{{company.nis_code}}"  class="form-control">
                              
                                </div>
                              </div>
                            </div>   
                            <div class="col-md-6">
                              <div class="form-group row">
                                  <label class="col-sm-3 col-form-label" for="id_responsible_person">responsible person </label>
                                  <div class="col-sm-9">
                                    <input type="text" name="responsible_person"  value="{{company.responsible_person}}" id="id_responsible_person" class="form-control">       
                                  </div>
                              </div>
                            </div>                         
                        </div>
                      {% comment %} end of row {% endcomment %}
                          {% comment %} row {% endcomment %}
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row"> 
                                <label class="col-sm-3 col-form-label"  for="id_source"> Source </label>
                                <div class="col-sm-9">                                     	
                                  <input type="text" name="source"  id="id_source" value="{{company.source}}" class="form-control">
                              
                                </div>
                              </div>
                            </div>   
                            <div class="col-md-6">
                              <div class="form-group row">
                                  <label class="col-sm-3 col-form-label" for="id_company_type">company type  </label>
                                  <div class="col-sm-9">
                                    <select class="form-control"  name="company_type" id="id_company_type" > 
                                      <option value="{{company.company_type}}"selected="">{{company.get_company_type_display}}</option>
                                      <option value="CL">client</option>
                                      <option value="F">supplier</option>
                                      <option value="P">partner </option>	
                                      <option value="CN">concurrent </option>	
                                    </select>   
                                  </div>
                              </div>
                            </div>                         
                        </div> 
                      {% comment %} end of row {% endcomment %}
                            {% comment %} row {% endcomment %}
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row"> 
                                  <label class="col-sm-3 col-form-label"  for="id_collab_start"> Collab start </label>
                                  <div class="col-sm-9">                                     	
                                    <input type="date" name="collab_start"  id="id_collab_start" value="{{company.collab_start|date:'Y-m-d'}}" class="form-control">
                                
                                  </div>
                                </div>
                              </div>   
                              <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="id_project_type">project type  </label>
                                    <div class="col-sm-9">
                                      <select class="form-control"  name="project_type" id="id_project_type" > 
                                        <option value="{{company.project_type}}"selected="">{{company.get_project_type_display}}</option>
                                        <option value="EC">e-commerce</option>
                                        <option value="WSF">web site</option>
                                        <option value="WA">web app </option>	
                                      </select>   
                                    </div>
                                </div>
                              </div>                      
                          </div> 
                        {% comment %} end of row {% endcomment %}
                            {% comment %} row {% endcomment %}
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row"> 
                                  <label class="col-sm-3 col-form-label"  for="id_logo">logo </label>
                                  <div class="col-sm-9">                                     	
                                     <input type="file" id="id_logo" name="logo" class="file-upload-browse btn btn-primary" >
                                  </div>
                                </div>
                              </div>                        
                          </div> 
                        {% comment %} end of row {% endcomment %}

                            <input type="submit" value="Submit" class="btn btn-primary mr-2" name="_save">
                      </form>

              </div>
            </div>
          </div>
        </div>
    <!-- main-panel ends -->
  </div>

  {% endblock content %}
