{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Cashflow</title>
{% endblock %}
<!-- Main Wrapper -->
<div class="main-wrapper">
<!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title bg-white">Cashflow</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active bg-white">Acounts</li>
                        </ul>
                         
                    </div>
                    
                </div>
                
            </div> 
            <div class="row">
           
                    
            </div>
                
            <!-- /Page Header -->
            <div class="row bg-white">
                    <div class="col-sm-12 bg-white"> 
                        <div>
                            <a href="{% url 'cashflow:addaccounts' %}">
                            <button class="btnn"> New</button> </a>       
                        </div>
                        <br>
                        </div>
                        <div class="col-sm-12 bg-white"><div> 
                            <div class="card bg-white">
                                <div class="card-body bg-white">
                                    <div class="table-responsive bg-white">
                                        <table class="table  table-center mb-0 bg-white">
                                            <thead class="bg-white">
                                                <tr>
                                                    <th></th>
                                                    <th>Search</th>
                                                    <th>Type</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <form action="" method="GET">
                                                   
                                                   <tr>
                                                        <td>
                                                            <td>
                                                                <input class="form-control mr-sm-2 bg-white" type="search" placeholder="Search" aria-label="Search" name="owner">
                                                            </td>
                                                        </td>
                                                        <td>
                                                             <select class="form-control select bg-white" name="type" >
                                                                    <option value=""> </option>
                                                                    <option value="IN">IN</option>
                                                                    <option value="OU">OUt</option>	
                                                             </select></td>
                                                        <td> 
                                                            <input type="date" class="form-control bg-white" name="created" >
                                                        </td>
                                                    </tr> 
                                                     <input type="submit" value="submit" class="btnn" >
                                               </form>
                                            </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <!-- /profile Widget -->   
            <div class="col-sm-12 bg-white">
                <div class="tab-content bg-white">           
                     
            <!-- /profile Widget -->                                        
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                    {% for account in accounts %} 
                                    <div class="col-xl-3 col-sm-6 col-12">
                                        <div class="card bg-white">
                                          <div class="card-body">
                                            <div class="dash-widget-header">
                                              <span class="dash-widget-icon">
                                                <i class="fe fe-users"></i>
                                              </span>
                                              <div class="dash-count">
                                                <h4 class="doc-name badge bg-secondary">{{account.get_type_display}}</h4>
                                              </div>
                                            </div>
                                            <div class="dash-widget-info">
                                             <h4><a href="{% url 'cashflow:accounttdetail' account.pk %}" class="doc-name badge ">{{account.owner}}</a></h4>
                                              
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      {% endfor %}
                                    </div>

                                    
                            </div>
                        </div>
                    </div>
                    <!-- /Appointment Tab -->
                
                    
                        
                    
                </div>	
                <br>		
            </div>
            </div>
         		
    </div>
    <br>
</div>
<!-- /Page Wrapper -->
{% endblock content %}