{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Cashflow</title>
{% endblock %}
<!-- Main Wrapper -->
<div class="main-wrapper">
<!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title bg-white">Cashflow</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active bg-white">Cashflow</li>
                        </ul>
                    </div>  
                </div>
                
            </div> 
            <div class="row">
              <div class="col-sm-12">
                  <div class="row">   
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card bg-white">
                          <div class="card-body">
                            <div class="dash-widget-header">
                              <span class="dash-widget-icon text-danger border-danger">
                                <i class="fa fa-money"></i>
                              </span>
                              <div class="dash-count">
                                <h3>{{total_payment.amount__sum}} DZD</h3>
                              </div>
                            </div>
                            <div class="dash-widget-info">
                              <h6 class="text-muted">Payment</h6>
                              <div class="progress progress-sm">
                                <div class="progress-bar bg-danger w-50"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card bg-white">
                          <div class="card-body">
                            <div class="dash-widget-header">
                              <span class="dash-widget-icon text-warning  border-warning">
                                <i class="fa fa-money"></i>
                              </span>
                              <div class="dash-count">
                                <h3>{{total_creance.amount__sum}} DZD</h3>
                              </div>
                            </div>
                            <div class="dash-widget-info">
                              <h6 class="text-muted">Debt</h6>
                              <div class="progress progress-sm">
                                <div class="progress-bar bg-warning  w-50"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card bg-white">
                          <div class="card-body">
                            <div class="dash-widget-header">
                              <span class="dash-widget-icon text-primary  border-primary">
                                <i class="fa fa-money"></i>
                              </span>
                              <div class="dash-count">
                                <h3>{{total_charges.amount__sum}} DZD</h3>
                              </div>
                            </div>
                            <div class="dash-widget-info">
                              <h6 class="text-muted">Cost</h6>
                              <div class="progress progress-sm">
                                <div class="progress-bar bg-primary  w-50"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card bg-white">
                          <div class="card-body">
                            <div class="dash-widget-header">
                              <span class="dash-widget-icon text-success  border-success">
                                <i class="fa fa-money"></i>
                              </span>
                              <div class="dash-count">
                                <h3>{{total_salaire.amount__sum}} DZD</h3>
                              </div>
                            </div>
                            <div class="dash-widget-info">
                              <h6 class="text-muted">paycheck</h6>
                              <div class="progress progress-sm">
                                <div class="progress-bar bg-success  w-50"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>                    
                        </div>
                    </div>
                    
            </div>
                
            <!-- /Page Header -->
            <div class="row bg-white">
                    <div class="col-sm-12 bg-white"> 
                        <div>
                            <a href="">
                            <button class="btnn"> New</button> </a>       
                        </div>
                     
                        <br>
                        </div>
                        <div class="col-sm-12 bg-white"><div> 
                            <div class="card bg-white">
                                <div class="card-body bg-white">
                                    <div class="table-responsive bg-white">
                                        <table class="table  table-center mb-0 bg-white">
                                            <thead class="bg-white">
                                                <tr>
                                                    <th></th>
                                                    <th>Search</th>
                                                    <th>Type</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <form action="" method="GET">
                                                   
                                                   <tr>
                                                        <td>
                                                            <td>
                                                                <input class="form-control mr-sm-2 bg-white" type="search" placeholder="Search" aria-label="Search" name="account">
                                                            </td>
                                                        </td>
                                                        <td>
                                                             <select class="form-control select bg-white" name="type" >
                                                                    <option value=""></option>
                                                                    <option value="PA">paiement</option>
                                                                    <option value="SA">salaire</option>
                                                                    <option value="CR">creance</option>
                                                                    <option value="CH">charege</option>
                                                                    <option value="AL">allouer</option>			  
                                                             </select></td>
                                                        <td> 
                                                            <input type="date" class="form-control bg-white" name="date" >
                                                        </td>
                                                    </tr> 
                                                     <input type="submit" value="submit" class="btnn" >
                                               </form>
                                            </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <!-- /profile Widget -->   
            <div class="col-sm-12 bg-white">
                <div class="tab-content bg-white">           
                     
            <!-- /profile Widget -->     
                    <div id="pat_appointments" class="tab-pane fade show active">
                        <div class="card card-table mb-0 bg-white">
                            <div class="card-body bg-white">
                                <div class="table-responsive bg-white">
                                    <table class="table table-center mb-0 bg-white">
                                     
                                        <thead class="bg-white">
                                            <tr> 
                                                <th>Account</th>
                                                <th>Receiver</th>
                                                <th>Project</th>
                                                <th>Type</th>                                              
                                                <th>Amount</th>
                                                <th>Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for transaction in transactions %}
                                            <tr>
                                                <td> <a href="">{{transaction.account}} </a></td>
                                                <td> {{transaction.receiver}} </a></td>
                                                <td> <span class="badge badge-pill bg-info-light">{{transaction.project}} </span></td>
                                                <td> <span class="badge badge-pill bg-info-light">{{transaction.get_type_display}}</span> </td>
                                                <td><span class="badge badge-pill bg-info-light">{{transaction.amount}} DZD</span></td>
                                                <td><span class="d-block text-info">{{transaction.date}}</span></td>
                                                <td class="text-right">
                                                    <div class="table-action">
                                                        <a href="" class="btn btn-sm bg-success-light">
                                                            Edit
                                                        </a>
                                                        
                                                    </div>
                                                </td>
                                            </div>
                                        </td>
                                        {% endfor %}
                                            </tr>
                                        </tbody>
                                       
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Appointment Tab -->
                
                    
                        
                    
                </div>	
                <br>		
            </div>
            </div>
         		
    </div>
    <br>
</div>
<!-- /Page Wrapper -->
{% endblock content %}